html {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --color-background--container: #ffffff;
  --color-focus: #2196f3;
  --akcent-color: #2196f3;
  --akcent-background: #ffffff;
  --font-family: Raleway;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*nav*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-nav {
  color: var (--title-text-color);
}
.box-nav {
  display: flex;
  align-items: center; /*Вирівнювання контейнерів по центру*/
  background: var(--color-background--container);
}
.logo-link {
  font-family: var(--font-family);
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-focus);
}
.box-nav .logo-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.studio {
  font-family: var(--font-family);
  font-weight: bold; /* Жирное начертание */
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.link-main {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.link-main:hover,
.link-main:focus,
.link-main:target {
  color: var(--color-focus);
}
.link-main:active {
  color: tomato;
}

.nav-ul {
  font-weight: 500; /* Жирное начертание */
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.list .current {
  color: var(--akcent-color);
}
.list {
  display: flex;
  margin-right: 331px;
}
.list .item:not(:last-child) {
  margin-right: 50px;
}
.list .link-main {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-contakty {
  display: flex;
}
.list-contakty .link-main {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container-mail {
  margin-right: 50px;
}
.header-li a {
  list-style-type: none;
  background: var(--color-background--container);
  color: var(--title-text-color);
}
.contakty a {
  color: var(--primary-text-color);
}
.header-li {
  list-style-type: none;
  font-style: normal;
}
.header-nav {
  display: flex;
}

/* main */
.main-li {
  list-style-type: none;
  font-style: normal;
}

.main-li .caption {
  text-transform: uppercase;
}
.container-button {
  background: #2f303a;
}
.container-button .container {
  padding-bottom: 280px;
  padding-top: 200px;
}
.container-button h1 {
  width: 696px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: block;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-background--container);
}
/*button*/
.box-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
button.button-main {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-background--container);
  background: var(--color-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer; /* cursor */
}
.list-desc {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-desc .main-li:not(:last-child) {
  margin-right: 30px;
}
.main-li .caption {
  padding-bottom: 10px;
  width: 270px;
}
.text-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.text-p {
  display: block;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.title-box {
  height: 400px;
}
.title-post {
  width: 376px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.box-img {
  display: flex;
  padding-bottom: 94px;
}
.box-img li:not(:last-child) {
  padding-right: 30px;
}
.aside {
  background: #f5f4fa;
}
.aside h2 {
  padding-top: 94px;
  padding-bottom: 50px;
  width: 264px;
  margin: 0 auto;
}
.container-item {
  display: flex;
  padding-bottom: 94px;
}
.container-item .main-li {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.container-item .main-li:not(:last-child) {
  margin-right: 30px;
}
.col .pic {
  padding-bottom: 30px;
}
.col .text-title {
  padding-bottom: 10px;
  margin: 0 auto;
  width: 151px;
}
.col .text-p {
  padding-bottom: 30px;
  width: 130px;
  margin: 0 auto;
}
/*footer*/
.logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.container-footer {
  background: #2f303a;
}
.footer-list .text-p {
  padding-bottom: 9px;
}
.footer-list .link-m {
  padding-bottom: 9px;
}
.footer-list .link-t {
  padding-bottom: 60px;
}
.studio-footer .text-p {
  color: var(--color-background--container);
}
.logo-link-footer {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.container-footer span {
  color: var(--color-background--container);
}
.footer-address a {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-li {
  list-style-type: none;
  font-style: normal;
}
/*portfolio*/
.items-button {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.items-button .main-li:not(:last-child) {
  margin-right: 8px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.list-portfolio .main-li {
  align-items: flex-start;
  padding-bottom: 30px;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.list-portfolio img {
  padding-bottom: 20px;
}
.list-portfolio .subtitle {
  padding-bottom: 4px;
  width: 322px;
  margin: 0 auto;
}
.list-portfolio .text-p {
  padding-bottom: 20px;
  width: 322px;
  height: 30px;
  margin: 0 auto;
}
.list-portfolio .main-li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.text-p a {
  color: var(--primary-text-color);
}
.subtitle {
  font-size: 18px;
}
button.filtry {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--color-background--container);
  border-radius: 4px;
  color: #212121;
  cursor: pointer; /* cursor */
}
button.filtry:hover,
button.filtry:focus,
button.filtry:target {
  background: var(--color-focus);
  color: var(--color-background--container);
}
button.current {
  background: var(--akcent-color);
  color: var(--akcent-background);
}
/* Скрытый заголовок */
.visually-hidden {
  visibility: hidden;
}
